<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoSOIle87TZFLWNY-8EmLeZE1x6qeFjAc</string>
	<key>GCM_SENDER_ID</key>
	<string>875012199153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.badgerMarket</string>
	<key>PROJECT_ID</key>
	<string>badger-market-app</string>
	<key>STORAGE_BUCKET</key>
	<string>badger-market-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875012199153:ios:e086f001d74cd268f80f50</string>
</dict>
</plist>